# API Gateway URL
VITE_API_BASE_URL=https://your-api-id.execute-api.ap-northeast-1.amazonaws.com/dev

# Amazon Cognito設定
VITE_COGNITO_USER_POOL_ID=ap-northeast-1_fmIO9wUwC
VITE_COGNITO_CLIENT_ID=7fjjol84obkgbj4mh29qtjp6i8
VITE_COGNITO_REGION=ap-northeast-1
VITE_COGNITO_DOMAIN=meal-management-app-dev
VITE_REDIRECT_URI=https://d2b7c2gzuy0hmt.cloudfront.net/callback
VITE_LIFF_ID=2008658695-M1gQv1N3